{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "babel"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "Promise": "readonly",
    "fetch": "readonly"
  },
  "rules": {
    "import/prefer-default-export": "off",
      "linebreak-style": 0 
  }
}