<section class="hero-slider">
  <div class="hero-slider-left">
    <h1 class="hero-slider-left__title">About</h1>
  </div>
  <div class="slick-slider" id="test">
    <img src="\images/slider4.jpg" alt="">
  </div>
</section>

    <section class="about">
      <div class="container">
        <h2 class="about__title">
          <svg>
            <use xlink:href="#svg-arrow"></use>
          </svg>
          THE IN.EX STORY
        </h2>

        <div class="about-info">
          <div class="about-info__text">
            <p>
              I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
              click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you
              like on your page. I’m a great place for you to tell a story and let your users know a little more about
              you.
            </p>
            <p>
              This is a great space to write long text about your company and your services. You can use this space to
              go
              into a little more detail about your company. Talk about your team and what services you provide. Tell
              your
              visitors the story of how you came up with the idea for your business and what makes you different from
              your
              competitors. Make your company stand out and show your visitors who you are.
            </p>
          </div>
          <div class="about-info__image">
            <img src="\images/about.jpg" alt="">
          </div>
        </div>
      </div>
    </section>

