

<section class="forum">
      <div class="container">

    <section class="search">
      <div class="container">

        <h5>
          FITNESS AND HEALTH FORUM
        </h5>

        <div class="search-box">
          <div class="search-input">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="Search">
          </div>
          <a href="#">Login / Sign up</a>
        </div>
    </section>

        <h2 class="forum__title">
          FITNESS AND HEALTH FORUM
        </h2>
        <p class="forum__text">
          Welcome to our forum - your source for all things fitness.</br>
          Explore the conversation and connect with other enthusiasts.
        </p>

        <div class="forum-articles">

          <div class="forum-article">
            <div class="forum-article__image">
              <img src="\images/blog1.jpg" alt="">
            </div>
            <div class="forum-article-info">
              <h3>OUTDOOR FITNESS FORUM</h3>
              <div class="forum-article-info__count">
                <span>9 view</span>
                <span>4 posts</span>
              </div>
              <p>
                You've mastered the studio, now it's time to deepen your practice. Discuss and learn with other
                advanced athletes.
              </p>
            </div>
          </div>

          <div class="forum-article">
            <div class="forum-article__image">
              <img src="\images/blog2.jpg" alt="">
            </div>
            <div class="forum-article-info">
              <h3>AN AFTER WORKOUT FORUM</h3>
              <div class="forum-article-info__count">
                <span>5 view</span>
                <span>3 posts</span>
              </div>
              <p>
                Treating your body right after a workout. In this forum we share tips for the best way to end a fitness
                session.
              </p>
            </div>
          </div>

          <div class="forum-article">
            <div class="forum-article__image">
              <img src="\images/blog3.jpg" alt="">
            </div>
            <div class="forum-article-info">
              <h3>HEALTH & WELLNESS FORUM</h3>
              <div class="forum-article-info__count">
                <span>4 view</span>
                <span>3 posts</span>
              </div>
              <p>
                Come in to share and discover the endless health benefits available to you when you decide to practice
                yoga.
              </p>
            </div>
          </div>

          <div class="forum-article">
            <div class="forum-article__image">
              <img src="\images/blog4.jpg" alt="">
            </div>
            <div class="forum-article-info">
              <h3>BEGINNERS FORUM</h3>
              <div class="forum-article-info__count">
                <span>2 view</span>
                <span>3 posts</span>
              </div>
              <p>
                At the beginning of your journey, several questions might come up. Share your experience and find
                answers here.
              </p>
            </div>
          </div>

        </div>

        <div class="new-posts">
          <h4>New Posts</h4>
          <div class="new-posts-box">

            <div class="post">
              <div class="post-info">
                <div class="post-info__image">
                  <img src="\images/admin.svg" alt="Admin">
                </div>
                <div class="post-info-name">
                  <div class="post-info-name__nick">Admin</div>
                  <div class="post-info-name__info">
                    <span>Admin</span>
                    <span>Jul 10</span>
                  </div>
                </div>
              </div>
              <div class="post-main">
                <h5>FITNESS 101: BEGINNERS TIPS</h5>
                <p>
                  Not at your computer? It’s easy to manage
                  your forum on your phone. Cr…
                </p>
              </div>
              <div class="post-footer">
                <span>0 comments</span>
                <span>0 <i class="far fa-heart"></i></span>
              </div>
            </div>

            <div class="post">
              <div class="post-info">
                <div class="post-info__image">
                  <img src="\images/admin.svg" alt="Admin">
                </div>
                <div class="post-info-name">
                  <div class="post-info-name__nick">Admin</div>
                  <div class="post-info-name__info">
                    <span>Admin</span>
                    <span>Jul 10</span>
                  </div>
                </div>
              </div>
              <div class="post-main">
                <h5>WHICH TYPE OF WORKOUT SHOULD I GO FOR - AND WHY?</h5>
                <p>
                  Our seamless mobile solution means
                  your mobile forum is easy to navigate, …
                </p>
              </div>
              <div class="post-footer">
                <span>0 comments</span>
                <span>0 <i class="far fa-heart"></i></span>
              </div>
            </div>

            <div class="post">
              <div class="post-info">
                <div class="post-info__image">
                  <img src="\images/admin.svg" alt="Admin">
                </div>
                <div class="post-info-name">
                  <div class="post-info-name__nick">Admin</div>
                  <div class="post-info-name__info">
                    <span>Admin</span>
                    <span>Jul 10</span>
                  </div>
                </div>
              </div>
              <div class="post-main">
                <h5>GETTING FIT WITHOUT BREAKING THE BANK</h5>
                <p>
                  With mobile push notifications,
                  you’ll always be up to date with everything th…
                </p>
              </div>
              <div class="post-footer">
                <span>0 comments</span>
                <span>0 <i class="far fa-heart"></i></span>
              </div>
            </div>

          </div>


        </div>
      </div>

    </section>