<section class="contact">
      <div class="container">
        <h2 class="contact__title">
          <svg>
            <use xlink:href="#svg-arrow"></use>
          </svg>
          EXHALE WITH US
        </h2>

        <div class="contact-info">
          <div class="contact-info__image">
            <img src="\images/contact.jpg" alt="">
          </div>
          <div class="contact-info-text">
            <div class="contact-info-text__main">
              <h3>VISIT OUR STORE</h3>
              <p>Address: 500 Terry Francois Street</p>
              <p>San Francisco, CA 94158</p>
              <p>Phone: 123-456-7890</p>
              <p>Email: info@my-domain.com</p>
            </div>
            <div class="contact-info-text-stockists">
              <div class="contact-info-text-stockists__item">
                <p>Store 1</p>
                <p>500 Terry Francois Street</p>
                <p>San Francisco, CA 94158</p>
                <p>Tel: 123-456-7890</p>
              </div>
              <div class="contact-info-text-stockists__item">
                <p>Store 2</p>
                <p>500 Terry Francois Street</p>
                <p>San Francisco, CA 94158</p>
                <p>Tel: 123-456-7890</p>
              </div>
              <div class="contact-info-text-stockists__item">
                <p>Store 3</p>
                <p>500 Terry Francois Street</p>
                <p>San Francisco, CA 94158</p>
                <p>Tel: 123-456-7890</p>
              </div>
              <div class="contact-info-text-stockists__item">
                <p>Store 4</p>
                <p>500 Terry Francois Street</p>
                <p>San Francisco, CA 94158</p>
                <p>Tel: 123-456-7890</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-card">
      <form class="contact-card-form">
        <div class="contact-card-form__contacts">
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
        </div>
        <input type="text" placeholder="Subject">
        <textarea rows="3" placeholder="Message"></textarea>
        <input type="submit" value="Submite">
      </form>
      <div id="contact-card-map">
      </div>
    </section>