@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('../fonts/DINNeuzeitGroteskLTW01-BdCn.woff2') format('woff2'),
        url('../fonts/DINNeuzeitGroteskLTW01-BdCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Light.woff') format('woff2'),
      url('../fonts/AvenirLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINNeuzeitGroteskLTW01-BdCn';
  src: url('../fonts/DINNeuzeitGroteskLTW01-BdCn.woff2') format('woff2'),
      url('../fonts/DINNeuzeitGroteskLTW01-BdCn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'neuzeit_grotesk';
    src: url('../fonts/neuzegrotbla-webfont.woff2') format('woff2'),
         url('../fonts/neuzegrotbla-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

